* {
  box-sizing: border-box;
  font-family: 'montserrat', Arial, sans-serif;
}
*:focus {
  outline: none;
}
.btn {
  background-color: #22b14c;
  border: 0;
  height: 48px;
  float: right;
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s linear;
}
.btn:hover {
  background-color: rgba(34,177,76,0.8);
}
body {
  background-color: #fff;
}
a {
  text-decoration: none;
  color: #000;
}
a.link-azul {
  color: #2189e0;
  font-size: 0.8em;
}
a.link-azul:hover {
  text-decoration: underline;
}
.verde {
  color: #22b14c;
  transition-duration: 0.3s;
}
.verde:hover {
  color: rgba(34,177,76,0.6);
}
.container {
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}
form.form-pesquisa {
  width: 775px;
  background-color: #fff;
  border-radius: 3px;
  height: 48px;
  margin-top: 4px;
  position: relative;
}
form.form-pesquisa i.material-icons {
  color: #c3c3c3;
  font-size: 24pt;
  padding: 8px 15px;
}
form.form-pesquisa input.campo-pesquisa {
  border: 0;
  color: #c3c3c3;
  font-size: 16px;
  font-family: 'montserrat', Arial, sans-serif;
  height: 48px;
  z-index: 3;
  padding: 0 0 0 61px;
  background-color: transparent;
  position: absolute;
  left: 0;
  width: calc(100% - 154px);
}
form.form-pesquisa button.btn-pesquisa {
  width: 92px;
  border-radius: 0 3px 3px 0;
}
header.topo {
  position: fixed;
  top: 0;
  left: 0;
  height: 116px;
  background-color: #ffcd00;
  width: 100%;
  z-index: 101;
}
header.topo .barra-pesquisa {
  height: 85px;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
}
header.topo .barra-pesquisa .logo {
  width: 200px;
  padding-left: 10px;
  min-width: 100px;
}
header.topo .barra-pesquisa .logo img {
  max-width: 86px;
}
header.topo .barra-pesquisa .perfil {
  width: 200px;
  padding: 10px 10px 0 0;
  min-width: 65px;
}
header.topo .barra-pesquisa .perfil .perfil-container {
  cursor: pointer;
  float: right;
  padding: 0 6px;
  position: relative;
}
header.topo .barra-pesquisa .perfil .perfil-container .avatar {
  float: right;
  position: relative;
  display: block;
}
header.topo .barra-pesquisa .perfil .perfil-container .avatar img {
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}
header.topo .barra-pesquisa .perfil .perfil-container .avatar .icone-avatar {
  width: 15px;
  height: 17px;
  position: absolute;
  bottom: 0;
  right: -4px;
  z-index: 1;
  background: url("https://imagebuscape-a.akamaihd.net/material/icons/icoProtegeAtivado.svg") no-repeat left center transparent;
  visibility: visible;
}
header.topo .barra-pesquisa .perfil .perfil-container:hover .dropdown {
  display: block;
  visibility: visible;
  opacity: 1;
  top: 50px;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown {
  opacity: 0;
  position: absolute;
  background-color: #fff;
  min-width: 216px;
  box-shadow: 0 2px 3px 0 rgba(0,0,0,0.12);
  z-index: 10;
  top: 60px;
  border-radius: 3px;
  right: 0;
  visibility: hidden;
  transition: all 0.3s ease-out;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown:before {
  position: absolute;
  top: -6px;
  right: 20px;
  display: inline-block;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #fff;
  border-left: 10px solid transparent;
  content: '';
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul {
  margin: 20px 0;
  padding: 0;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li {
  list-style: none;
  line-height: 30px;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li:hover {
  background-color: #f2f2f2;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li a {
  display: block;
  color: #757575;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 300;
  width: 100%;
  background: url("https://imagebuscape-a.akamaihd.net/material/icons/icoSprite.png?v=1") no-repeat 0 0 transparent;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li a.fav-ico {
  background-position: 17px 7px;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li a.prot-ico {
  background-position: 17px -175px;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li a.comp-ico {
  background-position: 17px -37px;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li a.perf-ico {
  background-position: 17px -83px;
}
header.topo .barra-pesquisa .perfil .perfil-container .dropdown ul li a.sair-ico {
  background-position: 17px -130px;
  background-color: #f2f2f2;
}
header.topo .menu {
  background-color: #ffdc4d;
  height: 31px;
  box-shadow: 1px 4px 8px -2px rgba(0,0,0,0.45);
}
header.topo .menu nav.categorias {
  text-transform: uppercase;
}
header.topo .menu nav.categorias ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
header.topo .menu nav.categorias ul li {
  list-style: none;
  display: inline-block;
  line-height: 31px;
}
header.topo .menu nav.categorias ul li a {
  padding: 8px 0;
  font-size: 12px;
  text-decoration: none;
  color: #444;
}
.breadcrumbs {
  margin-top: 116px;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
}
.breadcrumbs span,
.breadcrumbs a {
  color: #aaa;
  font-size: 11px;
}
.breadcrumbs span.breadcrumbs-links,
.breadcrumbs a.breadcrumbs-links {
  color: #000;
}
.breadcrumbs span.breadcrumbs-separador,
.breadcrumbs a.breadcrumbs-separador {
  margin: 0 5px;
  font-size: 16px;
}
.produto {
  padding-top: 50px;
  margin-bottom: 50px;
  display: flex;
}
.produto .galeria {
  width: 25%;
  max-width: 272px;
  height: 256px;
  float: left;
  position: relative;
  overflow: hidden;
}
.produto .galeria .nav-galeria {
  color: rgba(0,0,0,0.1);
  font-size: 48pt;
  position: absolute;
  top: calc(50% - 32px);
  cursor: pointer;
  z-index: 10;
  user-select: none;
}
.produto .galeria .nav-galeria.anterior {
  left: 0;
}
.produto .galeria .nav-galeria.proximo {
  right: 0;
}
.produto .galeria .galeria-container {
  height: 200px;
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 0;
}
.produto .galeria .galeria-container .galeria-item {
  width: 272px;
  height: 200px;
  margin: 0 auto;
  display: block;
}
.produto .galeria .galeria-container .galeria-item .foto {
  margin: 0 auto;
  max-height: 200px;
  max-width: 100%;
  padding: 1em 0;
  width: auto;
  display: block;
}
.produto .galeria .nav-fotos {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 40px;
}
.produto .galeria .nav-fotos span {
  width: 10px;
  height: 10px;
  background-color: #d8d8d8;
  display: block;
  border-radius: 50%;
  margin: 3px;
  cursor: pointer;
}
.produto .galeria .nav-fotos span.active {
  background-color: #ffc627;
}
.produto .detalhes {
  width: 500px;
  display: block;
  position: relative;
  margin-left: 10px;
  text-align: left;
  float: left;
}
.produto .detalhes h1 {
  padding: 0;
  margin: 0;
}
.produto .detalhes h1.nome {
  font-size: 1.65em;
  font-weight: lighter;
  color: #444;
  padding-bottom: 0.5em;
}
.produto .detalhes .infos {
  padding: 1em 0;
  display: inline-block;
  width: 100%;
  border-bottom: 2px solid #ebebeb;
}
.produto .detalhes .infos span.texto-preco {
  width: 50%;
  color: #444;
  font-size: 0.9em;
  display: block;
  float: left;
  position: relative;
}
.produto .detalhes .infos span.texto-preco .preco {
  color: #22b14c;
  padding: 0 0 0 8px;
}
.produto .detalhes .infos span.texto-preco .preco:hover {
  text-decoration: underline;
}
.produto .detalhes .infos span.texto-preco .preco .preco-inteiro {
  font-size: 1.9em;
  padding: 0 0 0 5px;
}
.produto .detalhes .infos .historico-preco {
  width: 50%;
  display: inline-block;
  background: url("http://image.buscape.com/material/icons/ic_graph.svg") no-repeat 7px center;
}
.produto .detalhes .infos .historico-preco a {
  padding-left: 50px;
  text-align: left;
  float: left;
  margin-right: 30px;
}
.produto .detalhes .infos .historico-preco a:hover {
  text-decoration: underline;
}
.produto .detalhes .avaliacao {
  border-bottom: 2px solid #ebebeb;
  position: relative;
  display: block;
  float: left;
  padding-bottom: 20px;
  width: 100%;
}
.produto .detalhes .avaliacao .rating {
  float: left;
  display: block;
  position: relative;
  width: 50%;
  margin-top: 1em;
}
.produto .detalhes .avaliacao .rating span {
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  float: left;
  margin-right: 8px;
  cursor: pointer;
}
.produto .detalhes .avaliacao .rating span.estrela {
  background-image: url("http://image.buscape.com/material/icons/icon-star-full.svg");
}
.produto .detalhes .avaliacao .rating span.meia-estrela {
  background-image: url("http://image.buscape.com/material/icons/icon-star-half.svg");
}
.produto .detalhes .avaliacao .rating a {
  margin-top: 10px;
  display: inline-block;
}
.produto .detalhes .avaliacao .enviar-avaliacao {
  height: 70px;
  width: 50%;
  float: right;
  display: block;
  position: relative;
}
.produto .detalhes .avaliacao .enviar-avaliacao a {
  margin-top: 30px;
  display: block;
  width: 100%;
  margin-left: 10px;
}
.cards {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 50px 0;
  user-select: none;
}
.cards .card {
  position: relative;
  width: calc(25% - 24px);
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.08);
  height: 400px;
  margin: 0 13px;
  padding: 16px 16px 24px;
}
.cards .card .card-link {
  position: relative;
  width: 100%;
  height: 238px;
  display: block;
  cursor: pointer;
}
.cards .card .card-link .card-imagem {
  width: 100%;
}
.cards .card .card-link .card-imagem img {
  width: 100%;
  max-width: 140px;
  height: auto;
  margin: 4px auto 18px;
  display: block;
}
.cards .card .card-link .card-descricao {
  max-height: 50px;
  color: #757575;
  font-size: 12px;
}
.cards .card .card-link .card-favorito {
  float: right;
  z-index: 80;
  position: absolute;
  right: 0;
}
.cards .card .card-link .card-favorito .coracao.active {
  fill: #fec53a;
}
.cards .card .card-preco {
  display: flex;
  justify-content: space-between;
  padding: 0 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100px;
  width: 100%;
  border-top: 1px solid #e0e0e0;
  background-color: #f9f9f9;
  align-items: center;
}
.cards .card .card-preco .btn-card-ver {
  width: 30px;
  height: 60px;
  border-radius: 3px;
  position: relative;
}
.cards .card .card-preco .btn-card-ver .icone-flecha {
  display: inline-block;
  position: absolute;
  top: 25px;
  left: 35%;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-bottom: 5px solid transparent;
  border-left: 8px solid #fff;
  content: "";
}
.cards .card .card-preco .card-preco-container {
  width: calc(100% - 40px);
  height: 75px;
}
.cards .card .card-preco .card-preco-container span,
.cards .card .card-preco .card-preco-container a {
  font-size: 11px;
  display: block;
}
.cards .card .card-preco .card-preco-container .card-melhor-preco {
  margin-bottom: 6px;
  color: #000;
}
.cards .card .card-preco .card-preco-container .card-melhor-preco:hover {
  color: rgba(195,195,195,0.6);
}
.cards .card .card-preco .card-preco-container .card-preco-parcelado {
  font-size: 18px;
}
.cards .card .card-preco .card-preco-container .card-preco-avista {
  font-size: 13px;
  margin-bottom: 6px;
}
.tooltip .tooltip-text {
  visibility: hidden;
  width: 90px;
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 150%;
  left: 50%;
  margin-left: -45px;
  font-size: 13px;
  transition-duration: 0.5s;
  opacity: 0;
}
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #000 transparent transparent transparent;
}
.tooltip.open .tooltip-text {
  visibility: visible;
  opacity: 1;
}
